---
layout: default
title: El GoL de Conway
permalink: /altres/game_of_life
---

<link rel="stylesheet" href="/assets/css/subpagines/altres/game_of_life/game_of_life.css">
<script type="module">
  import {run_universe} from "/assets/javascript/subpagines/altres/game_of_life/game_of_life.js";
  run_universe()
</script>

{% include always-present/sidebar.html %}
<div class="main-content">
  <div class="GoL-contingut">
    <div class="GoL-intro">
      <h1 class="GoL-title">Implementació del 'Game of Life' de John Conway</h1>
      <p>Creat per experimentar amb eines</p>
    </div>
  </div>

  <canvas id="GoL-canvas">
  </canvas>

  <div class="GoL-explicacio">
    <h2>¿Com funciona?</h2>
    <p>
      La graella de dalt mostra un taulell del famòs
      <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a>, on
      les generacions avancen amb unes donades normes. Cal destacar que, a aquesta implementació,
      les dues parets en son una de sola (és a dir, si hi ets al punt <code>(0,0)</code> i fas una
      passa a l'esquerra, surts per la banda de la dreta), i de la mateixa manera amb la part de
      dalt i de baix. De moment, la inicialització emplena la primera columna i els punts
      <code>(30, 0)</code>, <code>(30, 1)</code> i <code>(30, 2)</code> abans de deixar que la 
      simulació avanci, però en un futur s'hi afegirà interacció amb el ratolí per poder dibuixar 
      un propi estat inicial.
    </p>
    <h2>¿Implementació?</h2>
    <p>
      El codi que emmagatzema la graella i calcula les normes per cada generació està escrit en
      <a href="https://www.rust-lang.org/">Rust</a> i queda compilat en 
      <a href="https://webassembly.org/">wasm</a>. Per mostrar l'estat a la 
      pàgina, s'utilitza (sorprenentment poc) JavaScript. Com sempre, tot el codi es pot trobar
      al <a href="https://gitlab.com/amatgilvinyes/game-of-life-backend.git">meu GitLab</a>.
    </p>
  </div>
</div>

