---
layout: default
title: Sim Gravetat
permalink: /altres/sim_gravetat
---

{% include always-present/sidebar.html %}

<link rel="stylesheet" href="/assets/css/subpagines/altres/sim_gravetat/sim_gravetat.css">
<!--
<script type="module">
  import { load_gravity } from "/assets/javascript/subpagines/altres/sim_gravetat/sim_gravetat.js";
  load_gravity();
</script>
-->
<script type="module">
  import { load_gravity, place_gravity_in_div } from "/assets/javascript/subpagines/altres/sim_gravetat/sim_gravetat.js";
  load_gravity();
  place_gravity_in_div();
</script>

<div class="main-content">
  <h3>Un simulador de gravetat on no es conserva el moment, encara</h3>
  <h4>(Aquesta pàgina no està en Alpha, està en Pre-Pre-Pre-Alpha)</h4>
  <div id="finestra-wasm">
    <!--<button onclick="run_gravity()"><b>Init the thing</b></button>-->
  </div>
</div>

