---
layout: default
title: Jocs Cutres 
permalink: /utils
---

{% include always-present/sidebar.html %}

<div class="main-content">
  <h1>Útils</h1>
  <h2>Aquest pàgina recull una colecció de útils que m'eren útils a mi</h2>

  <ul>
    <li>
      <a href="{{site.url}}/utils/logica_formal">Lògica</a>
    </li>
    <li>
      <a href="{{site.url}}/utils/calculadora_sele">Calculadora Sele</a>
    </li>
  </ul>

</div>
