---
layout: default
title: Escacs Anàrquics
permalink: /jocs_prototips/escacs_anarquics
---

{% include always-present/sidebar.html %}

<div class="main-content">
  <p>Encara no està acabat del tot. Pots veure com va 
  al <a href="https://gitlab.com/amatgilvinyes/anarchy-chess">meu Gitlab</a>
  </p>
</div>
