<div class="home-sidebar-area home-grid-item">
  <h1 style="padding-left: 0.8em;"> Accés </h1>
  <ul class="sidebar-button-list">
    <!-- S'hi assembla a un rickroll, però no ho és, hehe -->
    <li><a class="sidebar-button" href="https://www.google.com/search?q=en+passant" >Clicka'm</a></li> 

    <li><a class="sidebar-button" href="{{site.url}}/robux_generator">Free Robux</a></li> 

    <li><a class="sidebar-button" href="{{site.url}}/gatets">Fotos de Gatets</a></li>

    <li>
      <div class="dropdown">
        <a href="{{site.url}}/utils">
          <button class="dropbtn">Utils</button>
        </a>
        <div class="dropdown-content">
          <!--<a href="{{site.url}}/utils/slavencies">Slavències</a>-->
          <a href="{{site.url}}/utils/logica_formal">Lògica</a>
          <a href="{{site.url}}/utils/calculadora_sele">Calculadora Sele</a>
        </div>
      </div>
    </li>

    <li>
      <div class="dropdown">
        <a href="{{site.url}}/jocs_prototips">
          <button class="dropbtn">Prototips de Jocs</button>
        </a>
        <div class="dropdown-content">
          <a href="{{site.url}}/jocs_prototips/escacs_anarquics">Escacs Anàrquics</a>
        </div>
      </div>
    </li>

    <li>
      <div class="dropdown">
        <a href="{{site.url}}/altres">
          <button class="dropbtn">Altres</button>
        </a>
        <div class="dropdown-content">
          <!-- <a href="{{site.url}}/altres/sim_gravetat">Simulador de Gravetat</a> -->
          <a href="{{site.url}}/altres/game_of_life">Game of Life</a>
          <a href="{{site.url}}/altres/espiral_ulam">Espiral de Ulam</a>
          <p>Zelda</p>
        </div>
      </div>
    </li>

    <li><a class="sidebar-button about-me-button" href="{{site.url}}/quant_a">Quant a</a></li> <!-- TODO: Make link -->
  </ul>
</div>
