
/* Style The Dropdown Button */
button.dropbtn {
  font-size: 19px;
  font-family: inherit;
  padding: 10px;
  cursor: pointer;
  color: hotpink;

  background-color: rgb(54, 58, 79);

  border: none;
  border-color: rgb(54, 58, 79);
  border-radius: 0.2em;

  outline-style: solid;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(36, 39, 58);
  box-shadow: 0.5em 0.5em 0.5em 0.5em rgba(0,0,0,0.2);
  z-index: 1;
  width: 10em;
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-content p {
  padding: 1em 1em 1em 1em; /* top right bottom left */
  text-decoration: none;
  display: block;
  color: hotpink;
  line-height: 1.5em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(24, 25, 38);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(73, 77, 100);
}
