.main-footer-content {
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: -1;
}

.main-footer {
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: -1;
}
.git-icon {
  vertical-align:middle;
  width: 2em;
}
