@font-face {
	font-family: "Iosevka";
	src: local("/assets/fonts/iosevka.bold.woff2");
  font-weight: bold;
}

body {
  font-size: 20px;
  background-color: rgb(54, 58, 79);
  color: white;
  font-family: Iosevka;
  height: 100%;
  overflow: visible; /*No scroll when cap tot*/
  display: grid;
}

button {
  font-size: 19px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(54, 58, 79);
  color: hotpink;

  border: none;
  border-color: rgb(54, 58, 79);
  border-radius: 0.1em;
  outline-style: solid;
}

.main-amatgil-title {
  font-size: 50px;
  font-family: Iosevka;

  min-width: 6em;
  max-width: 4.5em;
  max-height: 1.3em;

  border-style: solid;
  border-width: 0.125em;
  border-radius: 0.625em;
  border-color: rgb(147, 154, 183);

  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;

}
/* It's a link, but hidden: */
.main-amatgil-title a {
  color: inherit;
  text-decoration: inherit;
}

.main-amatgil-logo {
  vertical-align: middle;
  margin-bottom: 5px;   
}

h1 {
  line-height: 1.2em;
}
.main-content {
  color: rgb(183, 189, 248);
  max-width: 30em; 
  line-height: 1.75em;
  overflow-wrap: break-word;

  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 2;
  grid-column-end: 3;
}

.home-right-element {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 3;
  grid-column-end: 4;

  column-width: 3em;
}

.home-grid-container {
  display: grid;
  column-gap: 5em;
  grid-template-columns: min-content auto min-content; 
  grid-template-rows: auto min-content auto; 
  min-height: 100vh;
  margin-top:auto;
}


.ifunny-watermark {
  position: fixed;

  bottom: 0px;
  right: 0px;
  height: 10px;

  opacity: 0.3;
}

.loss {
  position: fixed;
  top: 0.4em;
  right: 0.4em;

  color: rgb(110, 115, 141);
  font-size: 0.5em;


  /* Don't show link */
  text-decoration: inherit;

  /* Don't compress whitespace */ 
  white-space: break-spaces;
}


.home-right-image {
  width: 14em;
}
.home-right-multiple-images {
  grid-column: 3 / 4;
}
