.sidebar-button {
  text-align: center;
  text-indent: 10px;

  border: none;
  cursor: pointer;
}

a {
  color: hotpink;
}

.about-me-button {
  color: lightgreen;
}

.home-sidebar-area {
  line-height: 2em;
  width: 10em;
  height: 20em;

  border-style: solid;
  border-width: 0.2em;
  border-radius: 0.5em;
  border-color: rgb(147, 154, 183);
  padding-left: 0.8em;
  padding-bottom: 0.5em;

  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 2;

}
.sidebar-button-list {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

