---
layout: default
title: Jocs Cutres 
permalink: /jocs_prototips
---

{% include always-present/sidebar.html %}

<div class="main-content">
  <h1>Prototips de jocs</h1>
  <h3>Aquesta pàgina recull els prototips de jocs que em van interessar prou com per programar-los</h2>

  <ul>
    <li>
      <a href="{{site.url}}/jocs_prototips/escacs_anarquics">Escacs anàrquics</a>
    </li>
  </ul>
</div>
