<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
    <!-- Verificació per google search -->
    <meta name="google-site-verification" content="P0y8IgeA8eNWQswgUCXevKpL7O9uLQIFhvczCyDBzVA" />
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="stylesheet" href="/assets/css/dropdowns.css">
    <link rel="stylesheet" href="/assets/css/404.css">
    <link rel="stylesheet" href="/assets/css/wasm.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/misc.css">
    <link rel="icon"       href="/assets/brand/favicon.ico" type="image/x-icon">
	</head>
  <body>
      <h1 class="main-amatgil-title">
        <a href="{{site.url}}">
          {{site.title}}
          <img class="main-amatgil-logo" src="/assets/brand/logo.png" width=70 alt="My Logo">
        </a>
      </h1>
    <div class="home-grid-container">

      {{ content }}

      {% include always-present/footer.html %}
    </div>
  </body>
</html>
