---
layout: default
title: About
permalink: /quant_a/ # About me
---

{% include always-present/sidebar.html %}
<link rel="stylesheet" href="/assets/css/quant_a.css">

<div class="main-content">
  <p>Hola! Soc Amat, un estudiant de la UPC.</p>
  <p>Aquí tens alguns links útils:</p>
  <ul>
    <!--
    <li>
      Correu electrònic: <a href="mailto:{{site.email}}">{{site.email}}</a>
    </li>
    -->
    <li> <img src="/assets/imgs/icons/Thunderbird-icon.png"
      class="bird-icon"> <a href="{{site.email}}">{{site.email}}</a>
    </li>

    <li> <img src="/assets/imgs/icons/GitLab-icon.png"
      class="git-icon"> <a href="{{site.gitlab}}">GitLab</a>
    </li>

    <li><img src="/assets/imgs/icons/GitHub-icon.png"
      class="git-icon"> <a href="{{site.github}}">GitHub</a>
    </li>

  </ul>
</div>

