---
layout: default
title: Altres
permalink: /altres
---

{% include always-present/sidebar.html %}

<div class="main-content">
  <h1>Altres</h1>
  <h2>Aquest pàgina recull una colecció de <a href="https://en.wikipedia.org/wiki/Proof_of_concept">proofs of concept</a></h2>

  <ul>
    <li>
      <a href="{{site.url}}/altres/game_of_life">Implementació del Game of Life, de John Conway</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="{{site.url}}/altres/espiral_ulam">Espiral de Ulam</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="{{site.url}}/altres/sim_gravetat">Simulador de gravetat bàsic</a> (molt inacabat)
    </li>
  </ul>
</div>
