---
layout: default
title: Lògica Formal
permalink: /utils/logica_formal
---

{% include always-present/sidebar.html %}
<link rel="stylesheet" href="/assets/css/subpagines/utils/logica_formal/logica_formal.css">
<!--<script type="module" src="/assets/javascript/subpagines/utils/logica_formal/logica_formal.js"></script> -->
<script type="module">
  import generar_taula from "/assets/javascript/subpagines/utils/logica_formal/logica_formal.js";
  window.generar_taula = generar_taula;
</script>

<div class="main-content">
  <h1>Analitzador de frases proposicionals</h1>
  <div class="logica-grid">

    <div class="logica-grid-item logica-entrada">
      <h2>Entrada:</h2>
      <label>
        <p>
          <input type="text" class="entrada-logica-formal" id="entrada-logica-formal"></input>
        </p>
      </label>
      <label>
        <button onclick="generar_taula()" class="generador_taula"><b>Generar Taula</b></button>
      </label>
    </div>

    <div class="logica-grid-item logica-sortida">
      <h2>Sortida:</h2>
        <span id="sortida-logica-formal">
        </span>
      </div>
    </div>

    <div class="logica-grid-item logica-explicació">
      <h2>Com funciona</h2>
      <p>
      Aquesta pàgina genera la taula de valors per una donada oració proposicionals. Només cal
      introduir-la com entrada i prèmer el botó. Si tot surt bé, es presentarà la taula de valors 
      corresponent.
      </p>
      <p>
      Els caràcters utilitzables són:
        <ul>
          <li><kbd>&amp;</kbd> o <kbd>^</kbd>: <kbd>conjunció</kbd></li>
          <li><kbd>&vert;</kbd> o <kbd>v</kbd>: <kbd>disjunció</kbd></li>
          <li><kbd>&gt;</kbd>: <kbd>condicional</kbd> (->)</li>
          <li><kbd>&equals;</kbd>: <kbd>bicondicional</kbd> (<->)</li>
          <li><kbd>&tilde;</kbd>: <kbd>negació</kbd></li>
          <li><kbd>[A-Za-z]</kbd>: <kbd>lletra proposicional</kbd> (e.g. <kbd>p</kbd>, <kbd>q</kbd>)</li>
          <li><kbd>0</kbd> i <kbd>1</kbd>: Valor constant </li>
          <li><kbd>(</kbd> i <kbd>)</kbd>: Canvia ordre d'operacions</li>
        </ul>
      </p>
      <p>
      Si hi trobeu cap error, no dubteu fer-me'n saber a
      través d'<a href="https://gitlab.com/amatgilvinyes/logica_formal_backend/issues ">un issue
        per GitLab</a>.
      </p>
    </div>
</div>


